<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">SpringBoot</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/home}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/listClients}">Clients</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <body>
  <h1 th:text="${title}" class="text-secondary border border-success border-top-0 border-left-0 border-right-0"></h1>
  <form th:action="@{/form}" th:object="${client}" method="post">
    <div class="form-group">
      <label class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-6">
        <input type="text" th:field="*{name}" class="form-control" th:errorclass="'form-control alert-danger'"/>
        <small class="form-text text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 col-form-label">Surname</label>
      <div class="col-sm-6">
        <input type="text" th:field="*{surname}" class="form-control" th:errorclass="'form-control alert-danger'"/>
        <small class="form-text text-danger" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></small>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 col-form-label">Country</label>
      <div class="col-sm-6">
        <input type="text" th:field="*{country}" class="form-control" th:errorclass="'form-control alert-danger'"/>
        <small class="form-text text-danger" th:if="${#fields.hasErrors('country')}" th:errors="*{country}"></small>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-6" style="margin-top: 10px;">
        <input type="submit" value="Create new client" class="btn btn-primary"/>
      </div>
    </div>
    <input type="hidden" th:field="*{id}"/>
  </form>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
  </body>
</div>
</html>